.baner {
  background-image: url(/images/interlaced.png);  
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.logo {
  width: 30%;
}
.imagen {
  width: 20vw;
  border-radius: 50%;
}
.navbar {
  background-color: #8fe3cf;;
}
.btn-primary{
  background-color: #8fa8cf;
  border: #8fa8cf;
}
.skills-section {
  margin-top: 100px;
}
.skills {
  position: relative;
  width: 12rem;
  height: 12rem;
  margin: auto;
  border-radius: 50%;
}
.skills1 {
  background: linear-gradient(
    54deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}
.skills2 {
  background: linear-gradient(
    45deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}
.skills3 {
  background: linear-gradient(
    36deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}
.skills4 {
  background: linear-gradient(
    9deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}
.skills5 {
  background: linear-gradient(
    27deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}
.skills6 {
  background: linear-gradient(
    126deg,
    #8fa8cf 50%,
    #8fe3cf 0%
  );
}

.skills::before {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: #fff content-box;
  padding: 0.5em;
  font-size: 2rem;
  text-align: center;
  line-height: 8rem;
}
.skills1::before {
  content: "HTML 5";
}
.skills2::before {
  content: "CSS 4";
}
.skills3::before {
  content: "JS 5";
}
.skills4::before {
  content: "Boostrap";
}
.skills5::before {
  content: "TS";
}
.skills6::before {
  content: "Inglés";
}
.skills::after {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: linear-gradient(
    transparent 50%,
    #fff 50%
  );
  transform: scale(1.3);
  text-align: center;
  line-height: 14rem;
}
.skills1::after {
  content: "30%";
}
.skills2::after {
  content: "25%";
}
.skills3::after {
  content: "20%";
}
.skills4::after {
  content: "5%";
}
.skills5::after {
  content: "15%";
}
.skills6::after {
  content: "70%";
}